<section class="card">
    <header>{{name}}</header>

    <div class = "card-body">
        <p>description:{{description}}</p>
        <p>recommended sets:{{sets}}</p>
        <p>recommended reps for each set:{{reps}}</p>
    </div>



</section>