<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Your Vibe</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1><span>💪</span>Fit-music<span>💪</span></h1>
    <h2>Enjoy your workouts and music<span>🤪</span></h2>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h3>How are you feeling today?</h3>
      
      
    <div class="emoji-container">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/43Nzy63D5BxdQsorBLdEFa?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <span class="happy">😊</span>
    
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4wlCzyeMrfxVoHrL8I9p8u?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <span class ="sad">😢</span>
      
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/55pmb4dVUXcHsTX2uHM7Zq?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <span class="angry">😠</span>
    
  </div>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script> 
    anime({
  targets: '.happy',
  duration: 3000,
  loop: true,
direction: 'alternate',
  rotate: '1turn'
});
anime({
  targets: '.sad',
  duration: 3000,
  loop: true,
direction: 'alternate',
  rotate: '1turn'});
anime({
  targets: '.angry',
  duration: 3000,
  loop: true,
direction: 'alternate',
  rotate: '1turn'});
  </script>
 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
